In [13]:
import pandas as pd
import numpy as np
print("Hello World!")

Hello World!

In [14]:
import os

current_directory = os.getcwd()
print(current_directory)

/Users/vishwasgowda/Desktop/NLP/llms_using_mingpt/nanoGPT

In [15]:
df = pd.read_csv("data/news/news.csv")
df.head()

   ArticleId                                               Text  Category
0       1833  worldcom ex-boss launches defence lawyers defe...  business
1        154  german business confidence slides german busin...  business
2       1101  bbc poll indicates economic gloom citizens in ...  business
3       1976  lifestyle  governs mobile choice  faster  bett...      tech
4        917  enron bosses in $168m payout eighteen former e...  business

In [16]:
from sklearn.model_selection import train_test_split

X = df['Text']
y = df['Category']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, stratify=y, random_state=42)

data = pd.DataFrame(X_train)

In [17]:
data

                                                   Text
479   tories urge  change at the top  tory delegates...
621   robinson answers critics england captain jason...
811   no to royal succession shake-up a labour peer ...
117   profits jump at china s top bank industrial an...
322   blair pledges unity to labour mps tony blair h...
...                                                 ...
77    vodafone appoints new japan boss vodafone has ...
705   air china in $1bn london listing china s natio...
264   franz man seeks government help franz ferdinan...
1167  critics back aviator for oscars martin scorses...
1070  stars pay tribute to actor davis hollywood sta...

[894 rows x 1 columns]

In [18]:
text_data = data['Text'].str.cat(sep='\n')

In [19]:
with open('news_text.txt', 'w') as f:
    f.write(text_data)